### Example user template template
### Example user template

# IntelliJ project files
../.idea
.idea/frontend-nanodegree-mobile-portfolio.iml
out
gen
node_modules

# Created by .ignore support plugin (hsz.mobi)
